  <%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pessoa_id %></br>
    <%= f.text_field :pessoa_id %>
  </div>

  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha %>
  </div>

  <%= form_for(@account) do |f| %>
  <div class="actions">
    <%= f.submit value="Concluir" %>
  </div>
<% end %>


<% end %>
