<h1>Contas</h1>

<%= link_to 'Nova conta', new_account_path %>     

<div class="table-responsive">
<table class="table">
  <thead>
    <tr> 
      <th>ID da Conta</th>
      <th>Saldo</th>
      <th>Senha</th>
      <th>ID da Pessoa</th>     
    </tr>
  </thead>
  
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.saldo %></td>
        <td><%= account.senha %></td>
        <td><%= account.pessoa_id %></td>
        <td><%= link_to 'Mostrar', account %></td>
        <td><%= link_to 'Editar', edit_account_path(account) %></td>
        <td><%= link_to 'Deletar', account, method: :delete, data: { confirm: 'Confirmar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


 