<h1>Cadastro de Pessoa</h1>

<%= form_for(@pessoa) do |pessoa| %>

  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>
 	  <ul>
      <% @pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

	<div class="field">
		<%= pessoa.label :nome %></br>
		<%= pessoa.text_field :nome %>
  </div>
	<div class="field"></br>
		<%= pessoa.label :cpf %></br>
		<%= pessoa.text_field :cpf %>
	</div>
  <div class="field"></br> 
		<%= pessoa.label :email %></br>
		<%= pessoa.text_field :email %>
	</div>
	 <div class="field"></br> 
		<%= pessoa.label :endereco%></br>
		<%= pessoa.text_field :endereco %>
	</div>
	 <div class="field"></br>
		<%= pessoa.label :data_nascimento%></br>
		<%= pessoa.text_field :data_nascimento %>
	</div>
  <div class="actions">
    <%= pessoa.submit value="Cadastrar pessoa" %>
  </div>
<% end %>

<%=link_to 'Voltar', pessoas_path %>