<h1>Lista de transações</h1>

<%= link_to 'Nova transação', new_transaction_path %> 

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Origem</th>
      <th>Valor</th>
      <th>Desconto</th>
      <th>Multa</th>
      <th>Valor Final</th>
      <th>Data hora</th>
      <th>Conta</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.tipo %></td>
        <td><%= transaction.origem %></td>
        <td><%= transaction.valor %></td>
        <td><%= transaction.desconto %></td>
        <td><%= transaction.multa %></td>
        <td><%= transaction.valor_final %></td>
        <td><%= transaction.data_hora %></td>
        <td><%= link_to transaction.account_id, transaction.account %></td>
        <td><%= link_to 'Mostrar', transaction %></td>
        <td><%= link_to 'Editar', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Deletar', transaction, method: :delete, data: { confirm: 'Confirmar' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


